*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --firstcolor:rgb(103, 162, 197);
    --secondcolor: rgb(255, 235, 211);
    --thirdcolor:rgb(155, 206, 193);
    --hovercolor:rgb(255, 182, 166);
}
/* nav*/
nav{
    background-color: var(--secondcolor) !important;
}
/*header section*/
.x{
    width: 100%;
    height: 100vh;
    background-image: url('./images/pexels-anna-nekrashevich-8532616.jpg');
    background-size: cover;
    background-position: center;

}
.x .overlay{
      width: 100%;
      height: 100vh;
      background-color: rgba(212, 141, 59, 0.215);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}
.x .overlay .ab{
    font-size: 60px;
    font-weight: bold;
    color: var(--firstcolor);
    margin-bottom: 20px;
}
.x .overlay .show{
    text-decoration: none;
    color: var(--thirdcolor);
    background-color: var(--secondcolor);
    padding: 10px 15px;
    font-size: 35px;
    border-radius: 0 20px;
    transition: all 2s;
}
.x .overlay .show:hover{
    color: var(--firstcolor);
    background-color: var(--hovercolor);
}
@media screen and (max-width:816px) {
    .x .overlay p{
        font-size: 35px;
}
}
@media screen and (max-width:352px) {
    .x .overlay p{
        font-size: 25px;
}
.x .overlay .show{
    font-size: 20px;
}
}
/*about section*/
.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 12% 0;


}
.about .card{
    width: 700px;
    
 
}
.about .card h1{
    color: var(--firstcolor);
    
    font-size: 60px;
    margin-bottom: 20px;
    

}
.about .card p{
    font-size: 20px;
    

}

.about .about-text #abc-p{
    font-size: 20px;
}

.about .img{
    width: 500px;
    height: 300px;
    background-image: url('./images/pexels-anna-nekrashevich-8532638.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 0 30px;
    transition: all 2s;
}
.about .img:hover{
    scale: 1.2;
}
@media screen and (max-width:1400 ) {


.about .card{
    width: 500px;
    margin-bottom: 40px;
    text-align: center;
 
}
.about .card h1{
    
    
    font-size: 30px;
    

}
.about .card p{
    font-size: 15px;
   

}
.about .card #abc-p{
    font-size: 20px;
}

.about .img{
    width: 400px;

}
}

@media screen and (max-width:500 ) {


.about .card{
    padding: 0 20px;
    
 
}



.about .img{
    height: 300px;}
}   

 

/*product section*/
.products{
        margin-bottom: 25%;
        background-color: var(--secondcolor);
}
.products .product-head{
    margin-bottom: 7%;
}
.products .product-head h1{
    text-align: center;
    font-size: 60px;
    color: var(--firstcolor);
    margin-bottom: 20px;
}
.products-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.products-cards .product-card{
    width: 500px;
    height: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 0 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom:40px ;
    margin-bottom: 30px;
}
.products-cards .product-card .product-card1{
    background-image: url('./images/im1.jpg');
}

 .products-cards .product-card .product-card2{
    background-image: url('./images/im2.jpg');
}
 .products-cards .product-card .product-card3{
    background-image: url('./images/im3.jpg');
} 
 .products-cards .product-card .product-card4{
    background-image: url('./images/im4.jpg');
}
.products-cards .product-card .product-card5{
    background-image: url('images/im5.jpg');
 }
 .products-cards .product-card .product-card6{
    background-image: url('./images/im6.jpg');
}
 .products-cards .product-card .product-card7{
    background-image: url('./images/im7.jpg');
}
 ..products-cards .product-card .product-card8{
    background-image: url('./images/im8.jpg');
}

.products .products-cards .product-card div a{
    text-decoration: none;
    padding: 15px 20px;
    background-color: var(--firstcolor);
    color: var(--secondcolor);
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0 20px;
}
@media screen and (max-width:500px) {
    .products .products-cards .product-card{
    width: 90%;
    height: 600px;
    background-position: center;
    background-size: cover;
    border-radius: 0 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 40px;
    margin-bottom: 50px;
}
}
/* contact section*/
.contact{
    width: 100%;
    height: 300px;
    background-color: var(--secondcolor);
    text-align: center;
    

    
}
.contact h2{
    font-size: 30px;
    font-weight: bold;
    color: var(--firstcolor);
    margin-bottom: 10px;
}
.icon1{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.word1{
     font-size: 16px;
     margin: 8px 0;
}
.icon2{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.word2{
     font-size: 16px;
     margin: 8px 0;
}
.icon3{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.word3{
     font-size: 16px;
     margin: 8px 0;
}


